html,
body {
	font-family: 'Montserrat','Source Sans Pro', arial, sans-serif;
    color: #444;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7em;
}

a {
	color: #fff;
}
a:hover {
	color: #999;
}

.wrapper {}
.wrapper-move {
	margin-left: 120px;
}
.box {
	width: 100%;
	text-align: center;
}
.box-in {
	margin-left: 4em;
	margin-right: 4em;
	background-color1: #333;
	height: 100%;
	max-width: 1200px;	
}
.bgc1 {
	background-color: #f4f2ed;
}
.bgc2 {
	background-color: #f4f4f4;
}
.bgc3 {
	background-color: #663399;
	color: #fff;
}
.left {
	text-align: left;
}
.pt {	/** padding top **/
	padding-top: 30px;
}
.pt1 {
	padding-top: 80px;
}
.pb {	/** padding top **/
	padding-bottom: 100px;
}
.pt2 {
	padding-top: 30px;
}
.pb2 {
	padding-bottom: 20px;
}

.mt1 {
	padding-top: 150px;
}
.title1 {
	font-size: 1.3em;
	margin-left: 0.5em;
	line-height: 60px;
}
.title2 {
	font-size: 4em;
}
.title3 {
	font-size: 2.5em;
	padding-bottom: 30px;
}
.text1 {
	font-size: 1.5em;
}
.label {
	font-size: 1.0em;
}
.nav1 {
	list-style: none;
	width:530px;
	float: right;
}
.nav1 li {
	float: left;
	line-height: 60px;
	margin: 0 0.6em 0 0.6em;
	font-size: 0.8em;
}
.nav li:hover {
	cursor: pointer;
	text-decoration-line: solid;
}

.jumbotron-img {
	height: 600px;
	border-top: 5px #000 solid;
	background-size: 100% auto;
	background-color: #000;
	background-image: url('http://www.uprank.io/assets/images/hero.jpg');
	overflow: hidden;
	position: relative;
}
.jumbotron-in {
	background-color:rgba(0,0,0,0.65);
	height: 600px;
	color: #fff;
}
.photo {
	border-radius: 30%; height: 60px; 
	border: 3px solid #000;
}
.photo2 {
	width: 400px;
	margin-top: 20px;
}
.email-ico {
	font-size: 2em;
	margin-top: -20px;
	color: #fff;
}
.label-container {
	line-height: 2.5em;
}
.menu-button {
	display: none;
	line-height: 68px;
	font-size: 2em;
	float: right;
	text-align: right;
}
.menu-button span {
	cursor: pointer;
	margin-right: 1em;
}
#side-menu {
	font-size: 12px;
	background: #000;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 9999;
	width: 120px;
	padding-top: 45px;
}
.side-nav {
	font-size: 1.1em;
	text-align: center;
	list-style: none;
}
.side-nav li {
	height: 40px;
}
.totop {
	background-color:rgba(0,0,0,0.65);
	height: 40px; 
	width: 40px;
	text-align: center;
	position: fixed;
	bottom: 20px; 
	right: 20px;
	cursor: pointer;
	border-radius: 5px;
}
.totop span {
	color: #fff;
	line-height: 40px;
	font-size: 25px;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
	.jumbotron-img {
		background-size: auto 100%;
	}
	.photo2 {
		width: 300px;
		margin-top: 40px;
	}
}

@media screen and (max-width: 858px) {
	.nav1 {
		display: none;
	}
	.menu-button {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.jumbotron-img {
		background-size: auto 100%;
	}
	.t1 {

	}
	.p1 {

	}
	.left {
		text-align: center;
	}
	.nav1 {
		display: none;
	}
	.box-in {
		margin-left: 2em;
		margin-right: 2em;
	}
	.menu-button span {
		margin-right: 1em;
	}
}

@media screen and (max-width: 648px) {
	.photo2 {
		width: 200px;
		margin-top: 20px;
	}
	.box-in {
		margin-left: 1em;
		margin-right: 1em;
	}
}
